.ClusterDocument{
    width: 100%;
    overflow: hidden;
    padding: 30px;
}

.ClusterDocumentTitle{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.ClusterDocumentText{
    padding-bottom: 15px;
}

.ClusterDocumentLink{
    width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}