* {
  box-sizing: border-box;
  color: #fff;
}

::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button { display: none;}
::-webkit-scrollbar-track {  background-color: transparent;}
::-webkit-scrollbar-track-piece { background-color: transparent;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #fff; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: transparent;}
::-webkit-resizer { display: none;}

.App {
  text-align: center;
  background-color: #282c34;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Header {
  height: 50px;
  width: 100%;
  border-bottom: 1px #fff solid;
  text-align: left;
  padding: 0 25px 0 25px;
}

.Body{
  flex: 1;
  overflow: hidden;
}

.Footer{
  height: 1px;
  width: 100%;
  font-size: 12px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
  padding-bottom: 5px;
}

.Title{
  font-weight: bold;
  font-size: 45px;
  color: #fff;
}